network:
    ethernets:
        enp1s0:
            dhcp4: no
            mtu: 1500
            addresses: 
            - {{ cvm_address }}
        enp2s0:
            dhcp4: no
            mtu: 1500
        enp3s0:
            dhcp4: no
            mtu: 1500
        enp4s0:
            dhcp4: no
            mtu: 1500
        enp5s0:
            dhcp4: no
            mtu: 1500
        enp6s0:
            dhcp4: no
            mtu: 1500
    version: 2

